.popup__container {
  /*
  Оксана, здравствуйте!
  Спасибо за ревью!

  К сожалению, не совсем понимаю, какая тень имеется ввиду. Если полупрозрачный черный фон при открытом popup,
  то в этой версии этот эффект добавил.
  А у самой формы popup на макете тени не вижу и в свойствах оно тоже не прописано.
  Может уже не соображаю под ночь совсем, поправьте меня, пожалуйста, если что-то не так понимаю.
  Спасибо!
  */

  position: relative;
  margin: auto;
  padding: 34px 36px 37px;
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
  }
}
