.profile__add-button {
  display: flex;
  padding: 14px 64px;
  position: absolute;
  top: 190px;
  right: 200px;
  min-height: 50px;
  min-width: 150px;

  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/add-button.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;

  cursor: pointer;

  transition-property: opacity;
  transition-duration: .3s;
}

.profile__add-button:hover {
  opacity: .5;
}

@media screen and (max-width: 766px) {
  .profile__add-button {
    width: 88%;
    position: unset;
    /* min-width: 100%; */
    margin-top: 36px;
    margin-left: 19px;
    padding: 16px;
  }
}

@media screen and (min-width: 767px) and (max-width: 900px) {
  .profile__add-button {
    left: 500px;
  }
}

